{% extends "layouts/base.html" %}

{% block titulo %} Home {% endblock %}

{% block tela %} Site de RPG {% endblock %}

{% block conteudo %}
    <div class="box">
        <p>
            <strong>Este site é para auxilio na criação de personagens para RPG de mesa</strong>
        </p>
    </div>

    <div class="grid">
        <div class="cell">
            <a href="{{ url_for('personagem') }}">
                <div class="card has-background-success">
                    <div class="card-header">
                        <p class="card-header-title has-text-info-dark">
                            <span class="icon material-icons">
                                account_circle
                            </span>
                            Criar Personagem
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="cell">
            
        </div>
    </div>

    <hr>

    <h3 class="is-3">
        Calculadoras
    </h3>

    <div class="grid">
        <div class="cell">

        </div>
    </div>

    <hr>

    <h3 class="is-3">
        Fichas
    </h3>

    <div class="grid">
        <div class="cell">
            <a href="{{ url_for('ficha_grimorio_do_coracao') }}">
                <div class="card has-background-success">
                    <div class="card-header">
                        <p class="card-header-title has-text-info-dark">
                            <span class="icon material-icons">
                                account_circle
                            </span>
                            Ficha de Grimório do coração
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}
