{% extends "layouts/base.html" %}

{% block titulo %} Personagem {% endblock %}

{% block tela %} Criação de personagem {% endblock %}

{% block conteudo %}
<div class="box">
    <p>
        Esta tela é para criação de personagem gerada aleatoriamente, qualquer campo não preenchido será
        preenchido automaticamente
    </p>
</div>
<form class="form" method="POST" action="#">
    <div class="tabs is-centered is-boxed">
        <ul>
            <li class="is-active">
                <a href="#tab_geral" onclick="alterarTab(0)">Geral</a>
            </li>
            <li>
                <a href="#tab_aparencia" onclick="alterarTab(1)">Aparência</a>
            </li>
        </ul>
    </div>

    <div id="tab_geral" name="tabs">
        <div class="field is-grouped">
            <p class="control is-expanded">
                {{ form.nome.label(class="label") }}
                {{ form.nome(class="input", value=new_personagem.nome) }}
            </p>
            <p class="control is-expanded">
                {{ form.raca.label(class="label") }}
                {{ form.raca(class="input", value=new_personagem.raca) }}
            </p>
            <div class="control select">
                {{ form.genero.label(class="label") }}
                {{ form.genero() }}
            </div>
        </div>

        <div class="field is-grouped">
            <p class="control is-expanded">
                {{ form.idade.label(class="label") }}
                {{ form.idade(class="input", value=new_personagem.idade) }}
            </p>
            <p class="control is-expanded">
                {{ form.peso.label(class="label") }}
                {{ form.peso(class="input", value=new_personagem.peso) }}
            </p>
            <p class="control is-expanded">
                {{ form.altura.label(class="label") }}
                {{ form.altura(class="input", value=new_personagem.altura) }}
            </p>
        </div>
    </div>

    <div class="is-hidden" name="tabs" id="tab_aparencia">
        <div class="field is-grouped">
            <p class="control is-expanded">
                {{ form.cabelo_tipo.label(class="label") }}
                {{ form.cabelo_tipo(class="input") }}
            </p>
            <p class="control is-expanded">
                {{ form.cabelo_cor.label(class="label") }}
                {{ form.cabelo_cor(class="input") }}
            </p>
        </div>
        <div class="field is-grouped">
            <p class="control is-expanded">
                {{ form.olhos_cor.label(class="label") }}
                {{ form.olhos_cor(class="input") }}
            </p>
            <p class="control is-expanded">
                {{ form.olhos_cor.label(class="label") }}
                {{ form.olhos_cor(class="input") }}
            </p>
        </div>
        <div class="field is-grouped">
            <p class="control is-expanded">
                {{ form.roupa_torso.label(class="label") }}
                {{ form.roupa_torso(class="input") }}
            </p>
            <p class="control is-expanded">
                {{ form.roupa_pernas.label(class="label") }}
                {{ form.roupa_pernas(class="input") }}
            </p>
        </div>
        <div class="field is-grouped">

            <p class="control is-expanded">
                {{ form.tom_pele.label(class="label") }}
                {{ form.tom_pele(class="input") }}
            </p>
            <p class="control is-expanded">
                {{ form.acessorios.label(class="label") }}
                {{ form.acessorios(class="input") }}
            </p>
        </div>
    </div>

    <hr>

    <div class="" name="tabs" id="tab_configuracao">
        <h3 class="title is-3">
            Configurações
        </h3>

        <div class="field is-grouped">
            <p class="control is-expanded">
                {{ form.travar_nome() }}
                {{ form.travar_nome.label(class="checkbox") }}
            </p>
            <p class="control is-expanded">
                {{ form.travar_idade() }}
                {{ form.travar_idade.label(class="checkbox") }}
            </p>
            <p class="control is-expanded">
                {{ form.travar_peso() }}
                {{ form.travar_peso.label(class="checkbox") }}
            </p>
        </div>
        <div class="field is-grouped">
            <p class="control is-expanded">
                {{ form.travar_altura() }}
                {{ form.travar_altura.label(class="checkbox") }}
            </p>
            <p class="control is-expanded">
                {{ form.travar_raca() }}
                {{ form.travar_raca.label(class="checkbox") }}
            </p>
        </div>
    </div>

    <div class="field is-grouped is-grouped-centered">
        <button class="button is-success">
            Gerar
        </button>
    </div>
</form>
{% endblock %}

{% block js %}
<script>
    function alterarTab(id) {
        let docTab = document.getElementsByName("tabs");
        let tabs = document.getElementsByTagName("li");

        for (let i = 0; i < tabs.length; i++) {
            tabs[i].setAttribute("class", "");
            docTab[i].setAttribute("class", "is-hidden");

            if (id == i) {
                tabs[i].setAttribute("class", "is-active");
                docTab[i].setAttribute("class", "");
            }
        }
    }
</script>
{% endblock %}