{% extends "layouts/base.html" %}

{% block style %}
<style>
</style>
{% endblock %}

{% block titulo %} Ficha {% endblock %}

{% block tela %} Grimório do coração {% endblock %}

{% block conteudo %}

<form action="#" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="field is-grouped">
        <div class="control">
            {{ form.btn_salvar(class="button is-success") }}
        </div>
        <div class="control">
            {{ form.btn_limpar(class="button is-warning") }}
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <div class="file has-name">
                <label class="file-label">
                    {{ form.file_importar(class="file-input", accept=".pk", onchange="mudarNome()") }}
                    <span class="file-cta">
                        <span class="file-label"> Escolha o arquivo </span>
                    </span>
                    <span class="file-name">
                        Arquivo .pk
                    </span>
                </label>
            </div>
        </div>

        <div class="control is-expanded">
            {{ form.btn_importar(class="button is-success") }}
        </div>
    </div>
    <div class="tabs is-centered is-boxed">
        <ul>
            <li class="is-active">
                <a href="#tab_geral" onclick="alterarTab(0)">Geral</a>
            </li>
            <li>
                <a href="#tab_personagem" onclick="alterarTab(1)">Personagem</a>
            </li>
        </ul>
    </div>

    <div id="tab_geral" name="tabs">

        <div class="field is-grouped is-grouped-centered">
            <div class="control is-expanded">
                {{ form.ficha_personagem.personagem.label(class="label") }}
                {{ form.ficha_personagem.personagem(class="input", onchange="espelharCampo(this)") }}
            </div>

            <div class="control">
                <div class="label">{{ form.classe.label(class="label") }}</div>
                <div class="select">
                    {{ form.classe }}
                </div>
            </div>
        </div>

        <div class="field is-grouped is-grouped-centered">
            <div class="control is-expanded">
                <div class="label">{{ form.nivel.label(class="label") }}</div>
                {{ form.nivel(class="input") }}
            </div>

            <div class="control">
                <div class="label">{{ form.arcana.label(class="label") }}</div>
                <div class="select">
                    {{ form.arcana }}
                </div>
            </div>

            <div class="control is-expanded">
                <div class="label">{{ form.jogador.label(class="label") }}</div>
                {{ form.jogador(class="input") }}
            </div>
        </div>

        <hr>

        <div class="columns">
            <div class="column">

                <b>HABILIDADES DE COMBATE</b>
                <hr>

                <div class="fixed-grid has-3-cols grid">
                    <div class="cell control">
                        <div class="label">{{ form.forca.label(class="label") }}</div>
                        {{ form.forca(class="input") }}
                    </div>

                    <div class="cell control">
                        <div class="label">{{ form.tec.label(class="label") }}</div>
                        {{ form.tec(class="input") }}
                    </div>

                    <div class="cell control">
                        <div class="label">{{ form.vit.label(class="label") }}</div>
                        {{ form.vit(class="input") }}
                    </div>

                    <div class="cell control">
                        <div class="label">{{ form.mag.label(class="label") }}</div>
                        {{ form.mag(class="input") }}
                    </div>

                    <div class="cell control">
                        <div class="label">{{ form.agi.label(class="label") }}</div>
                        {{ form.agi(class="input") }}
                    </div>

                    <div class="cell control">
                        <div class="label">{{ form.sor.label(class="label") }}</div>
                        {{ form.sor(class="input") }}
                    </div>
                </div>
            </div>

            <div class="column">

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.pv.label(class="label") }}
                        {{ form.pv(class="input") }}
                    </div>

                    <div class="control is-expanded">
                        {{ form.energia.label(class="label") }}
                        {{ form.energia(class="input") }}
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.rd.label(class="label") }}
                        {{ form.rd(class="input", ) }}
                    </div>

                    <div class="control is-expanded">
                        {{ form.cond.label(class="label") }}
                        {{ form.cond(class="textarea", rows=5, cols=22) }}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="columns">
            <div class="column">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>PTS</th>
                            <th>TIER</th>
                            <th>TITULO</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>CON.</td>
                            <td>{{ form.hab_soc_con_pts(class="input") }}</td>
                            <td>
                                <div class="select is-small">
                                    {{ form.hab_soc_con_tier }}
                                </div>
                            </td>
                            <td>
                                <div class="select" style="width: 100px;">
                                    {{ form.hab_soc_con_titulo }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>DISC.</td>
                            <td>{{ form.hab_soc_dis_pts(class="input") }}</td>
                            <td>
                                <div class="select is-small">
                                    {{ form.hab_soc_dis_tier }}
                                </div>
                            </td>
                            <td>
                                <div class="select" style="width: 100px;">
                                    {{ form.hab_soc_dis_titulo }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>EMP.</td>
                            <td>{{ form.hab_soc_emp_pts(class="input") }}</td>
                            <td>
                                <div class="select is-small">
                                    {{ form.hab_soc_emp_tier }}
                                </div>
                            </td>
                            <td>
                                <div class="select" style="width: 100px;">
                                    {{ form.hab_soc_emp_titulo }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>CHA.</td>
                            <td>{{ form.hab_soc_cha_pts(class="input") }}</td>
                            <td>
                                <div class="select is-small">
                                    {{ form.hab_soc_cha_tier }}
                                </div>
                            </td>
                            <td>
                                <div class="select" style="width: 100px;">
                                    {{ form.hab_soc_cha_titulo }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>EXP.</td>
                            <td>{{ form.hab_soc_exp_pts(class="input") }}</td>
                            <td>
                                <div class="select is-small">
                                    {{ form.hab_soc_exp_tier }}
                                </div>
                            </td>
                            <td>
                                <div class="select" style="width: 100px;">
                                    {{ form.hab_soc_exp_titulo }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>COR.</td>
                            <td>{{ form.hab_soc_cor_pts(class="input") }}</td>
                            <td>
                                <div class="select is-small">
                                    {{ form.hab_soc_cor_tier }}
                                </div>
                            </td>
                            <td>
                                <div class="select" style="width: 100px;">
                                    {{ form.hab_soc_cor_titulo }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <div class="field">
                    {{ form.pts_aspecto.label(class="label") }}
                    <div class="control">
                        {{ form.pts_aspecto(class="input") }}
                    </div>
                </div>

                <div class="field">
                    {{ form.aspectos.label(class="label") }}
                    <div class="control">
                        {{ form.aspectos(class="textarea", rows=10) }}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <b>PERSONA</b>

        <div class="columns">
            <div class="column">
                <div class="field is-grouped">

                    <div class="control is-expanded">
                        {{ form.ficha_personas[0].nome.label(class="label") }}
                        {{ form.ficha_personas[0].nome(class="input", onchange="espelharCampo(this)") }}
                    </div>

                    <div class="control is-expanded">
                        {{ form.ficha_personas[0].nivel.label(class="label") }}
                        {{ form.ficha_personas[0].nivel(class="input", onchange="espelharCampo(this)") }}
                    </div>

                    <div class="control is-expanded">
                        {{ form.ficha_personas[0].pm.label(class="label") }}
                        {{ form.ficha_personas[0].pm(class="input", onchange="espelharCampo(this)") }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ form.persona_conv.label(class="label") }}
                        {{ form.persona_conv(class="input") }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ form.ficha_personas[0].hab_natural.label(class="label") }}
                        {{ form.ficha_personas[0].hab_natural(class="textarea", rows=2, onchange="espelharCampo(this)")
                        }}
                    </div>
                </div>

                <hr>

                <b>TIPOS</b>
                <div class="field">

                    <div class="fixed-grid">
                        <div class="grid">
                            {% for t in form.ficha_personas[0].tipos %}
                            <div class="cell">
                                <div class="select">
                                    {{ t(onchange="espelharCampo(this)") }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="field">
                    <b> Resistencias </b>
                    <div class="fixed-grid has-3-cols">
                        <div class="grid">
                            {% for r in form.ficha_personas[0].res %}
                            <div class="cell">
                                <label for="" class="label">
                                    {{ form.nomes_resistencias[loop.index -1] }}
                                </label>
                                <div class="select">
                                    {{ r(onchange="espelharCampo(this)") }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.arma_nome.label(class="label") }}
                        {{ form.arma_nome(class="input") }}
                    </div>

                </div>

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.arma_dano.label(class="label") }}
                        {{ form.arma_dano(class="input") }}
                    </div>

                    <div class="control is-expanded">
                        {{ form.arma_alc.label(class="label") }}
                        {{ form.arma_alc(class="input") }}
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.arma_efe.label(class="label") }}
                        {{ form.arma_efe(class="textarea", rows=2) }}
                    </div>
                </div>

                <hr>

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.armadura_nome.label(class="label") }}
                        {{ form.armadura_nome(class="input") }}
                    </div>

                    <div class="control is-expanded">
                        {{ form.armadura_rd.label(class="label") }}
                        {{ form.armadura_rd(class="input") }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ form.armadura_efe.label(class="label") }}
                        {{ form.armadura_efe(class="textarea", rows=2) }}
                    </div>
                </div>

                <hr>

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.acessorio.label(class="label") }}
                        {{ form.acessorio(class="input") }}
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.acessorio_efe.label(class="label") }}
                        {{ form.acessorio_efe(class="textarea", rows=2) }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="is-hidden" id="tab_personagem" name="tabs">
        <div class="columns">
            <div class="column is-one-quarter">
                {{ form.ficha_personagem.retrato.label(class="label") }}
                <div class="field">
                    <div class="file">
                        <label class="file-label">
                            {{ form.ficha_personagem.retrato(class="file-input", accept="image/*",
                            onchange="previewImg()") }}
                            <span class="file-cta">
                                <span class="file-label"> Escolha o retrato </span>
                            </span>
                        </label>
                    </div>
                </div>

                <div class="field">
                    <img src="" alt="" id="previewToken">
                </div>
            </div>

            <div class="column">
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ form.ficha_personagem.personagem.label(class="label") }}
                        {{ form.ficha_personagem.personagem(class="input", onchange="espelharCampo(this)") }}
                    </div>

                    <div class="control">
                        {{ form.ficha_personagem.exp.label(class="label") }}
                        {{ form.ficha_personagem.exp(class="input") }}
                    </div>
                </div>

                <div class="field is-grouped">

                    <div class="control is-expanded">
                        {{ form.ficha_personagem.ocupacao.label(class="label") }}
                        {{ form.ficha_personagem.ocupacao(class="input") }}
                    </div>

                    <div class="control is-expanded">
                        {{ form.ficha_personagem.skill.label(class="label") }}
                        {{ form.ficha_personagem.skill(class="input") }}
                    </div>

                    <div class="control is-expanded">
                        {{ form.ficha_personagem.pr.label(class="label") }}
                        {{ form.ficha_personagem.pr(class="input") }}
                    </div>

                </div>

                <div class="field">
                    <div class="columns">
                        <div class="column is-three-quarters">

                            <div class="fixed-grid has-auto-count">
                                <div class="grid">
                                    {% for bt in form.ficha_personagem.blocos_trab %}
                                    <div class="cell">
                                        {{ form.ficha_personagem.nome_blocos_trabalhos[loop.index-1] }}
                                        {{ bt }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="control">
                                {{ form.ficha_personagem.pr_bloco.label(class="label") }}
                                {{ form.ficha_personagem.pr_bloco(class="input") }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <div class="field is-grouped">
            <div class="control is-expanded">
                {{ form.ficha_personagem.atq_secudario.label(class="label") }}
                {{ form.ficha_personagem.atq_secudario(class="input") }}
            </div>

            <div class="control is-expanded">
                {{ form.ficha_personagem.atq_dano.label(class="label") }}
                {{ form.ficha_personagem.atq_dano(class="input") }}
            </div>

            <div class="control is-expanded">
                {{ form.ficha_personagem.atq_alc.label(class="label") }}
                {{ form.ficha_personagem.atq_alc(class="input") }}
            </div>

            <div class="control is-expanded">
                {{ form.ficha_personagem.atq_efe.label(class="label") }}
                {{ form.ficha_personagem.atq_efe(class="input") }}
            </div>
        </div>

        <div class="field">
            <div class="control">
                {{ form.ficha_personagem.equip_misto.label(class="label") }}
                {{ form.ficha_personagem.equip_misto(class="textarea") }}
            </div>
        </div>

        <hr>

        <div class="table-container">
            <b>Personas</b>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ARCANA
                        </th>
                        <th>
                            NOME
                        </th>
                        <th>
                            NIVEL
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in form.ficha_personas %}
                    <tr>
                        <td>
                            <div class="select">
                                {{ p.arcana(onchange="espelharCampo(this)") }}
                            </div>
                        </td>
                        <td>
                            {{ p.nome(class="input", onchange="espelharCampo(this)") }}
                        </td>
                        <td>
                            {{ p.nivel(class="input", onchange="espelharCampo(this)") }}
                        </td>
                        <td>
                            <button type="button" class="button is-info js-modal-trigger"
                                data-target="persona-{{ loop.index-1 }}">
                                Editar
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

        <div class="field">
            <table class="table">
                <thead>
                    <th>
                        Nome/Descrição
                    </th>
                    <th>
                        Qtd
                    </th>
                </thead>
                <tbody>
                    {% for i in form.ficha_personagem.itens %}
                    <tr>
                        <td width="75%">
                            {{ i.nome(class="input") }}
                        </td>
                        <td>
                            {{ i.qtd(class="input") }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <b>Feitos</b>

                    <div class="fixed-grid">
                        <div class="grid">
                            {% for f in form.ficha_personagem.feitos %}
                            <div class="cell">
                                {{ form.ficha_personagem.nome_feitos[loop.index-1] }}
                                {{ f(class="textarea", rows=5) }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    ARCANA
                                </th>
                                <th>
                                    NOME
                                </th>
                                <th>
                                    RANK
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for c in form.ficha_personagem.confidents %}
                            <tr>
                                <td>{{ form.ficha_personagem.nome_confidents[loop.index-1] }}</td>
                                <td>{{ c.nome(class="input") }}</td>
                                <td width="10%">{{ c.rank(class="input") }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr>

        <div class="field">
            <div class="control">
                {{ form.ficha_personagem.notas.label(class="label") }}
                {{ form.ficha_personagem.notas(class="textarea") }}
            </div>
        </div>
    </div>

    {% for p in form.ficha_personas %}
    <div class="modal is-large" id="persona-{{ loop.index-1 }}">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <h3 class="is-title title-3">
                    Persona
                </h3>

                <hr>

                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ p.nome.label(class="label") }}
                        {{ p.nome(class="input", onchange="espelharCampo(this)") }}
                    </div>

                    <div class="control is-expanded">
                        {{ p.arcana.label(class="label") }}
                        <div class="select">
                            {{ p.arcana(onchange="espelharCampo(this)") }}
                        </div>
                    </div>
                </div>
                <div class="field is-grouped">

                    <div class="control is-expanded">
                        {{ p.nivel.label(class="label") }}
                        {{ p.nivel(class="input", onchange="espelharCampo(this)") }}
                    </div>

                    <div class="control is-expanded">
                        {{ p.pm.label(class="label") }}
                        {{ p.pm(class="input", onchange="espelharCampo(this)") }}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ p.hab_natural.label(class="label") }}
                        {{ p.hab_natural(class="textarea", onchange="espelharCampo(this)", rows=2)
                        }}
                    </div>
                </div>

                <hr>

                <b>TIPOS</b>
                <div class="field">

                    <div class="fixed-grid">
                        <div class="grid">
                            {% for t in p.tipos %}
                            <div class="cell">
                                <div class="select">
                                    {{ t(onchange="espelharCampo(this)") }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <hr>

                <b>RESISTÊNCIAS</b>
                <div class="fixed-grid has-3-cols">
                    <div class="grid">
                        {% for r in p.res %}
                        <div class="cell">
                            <div class="field">
                                <div class="control">
                                    <label for="" class="label">
                                        {{ form.nomes_resistencias[loop.index-1] }}
                                    </label>

                                    <div class="select">
                                        {{ r(onchange="espelharCampo(this)") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr>
                <b>MAGIAS</b>
                <div class="fixed-grid">
                    <div class="grid">
                        {% for m in p.magias %}
                        <div class="cell">
                            <div class="box">
                                <div class="field">
                                    <div class="control">
                                        {{ m.magia.label(class="label") }}
                                        {{ m.magia(class="input") }}
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        {{ m.tipo.label(class="label") }}
                                        {{ m.tipo(class="input") }}
                                    </div>

                                    <div class="control is-expanded">
                                        {{ m.cat.label(class="label") }}
                                        {{ m.cat(class="input") }}
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        {{ m.tier.label(class="label") }}
                                        {{ m.tier(class="input") }}
                                    </div>

                                    <div class="control is-expanded">
                                        {{ m.alvo.label(class="label") }}
                                        {{ m.alvo(class="input") }}
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        {{ m.usos.label(class="label") }}
                                        {{ m.usos(class="input") }}
                                    </div>

                                    <div class="control is-expanded">
                                        {{ m.usos_max.label(class="label") }}
                                        {{ m.usos_max(class="input") }}
                                    </div>

                                    <div class="control is-expanded">
                                        {{ m.repr.label(class="label") }}
                                        {{ m.repr(class="input") }}
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        {{ m.efeito.label(class="label") }}
                                        {{ m.efeito(class="textarea", rows=2) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>

                <div class="field">
                    <div class="control">
                        {{ p.notas.label(class="label") }}
                        {{ p.notas(class="textarea", rows=3) }}
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="modal-close is-large" aria-label="close"></button>
    </div>
    {% endfor %}

</form>

{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const retratoData = '{{ form.ficha_personagem.retrato.data }}';

        if (retratoData != 'None') {
            try {
                let input = document.getElementById("ficha_personagem-retrato");
                let img = document.getElementById("previewToken");

                let byteCharacters = atob(retratoData);
                let byteNumbers = new Array(byteCharacters.length);
                for (let i = 0; i < byteCharacters.length; i++) {
                    byteNumbers[i] = byteCharacters.charCodeAt(i);
                }
                let byteArray = new Uint8Array(byteNumbers);
                let blob = new Blob([byteArray], { type: 'image/*' });

                let file = new File([blob], "retrato.png", { type: 'image/*' });

                let dataTransfer = new DataTransfer();
                dataTransfer.items.add(file);
                input.files = dataTransfer.files;

                previewImg();

            } catch (error) {
                console.error('Erro ao carregar imagem:', error);
            }
        }
    });

    function espelharCampo(ev) {
        let campos = document.getElementsByName(ev.name);

        for (let i = 0; i < campos.length; i++) {

            campos[i].setAttribute("value", ev.value);

            if (ev.tagName == "SELECT") {
                campos[i].options.selectedIndex = ev.options.selectedIndex;
            }

            if (ev.tagName == "TEXTAREA") {
                campos[i].innerText = ev.value;
            }

        };
    }

    function previewImg() {
        let input = document.getElementById("ficha_personagem-retrato");
        let img = document.getElementById("previewToken");
        var reader = new FileReader();

        reader.onloadend = () => {
            img.src = reader.result;
        }

        if (input) {
            reader.readAsDataURL(input.files[0]);
        } else {
            img.src = "";
        }
    }

    function mudarNome() {
        let input = document.getElementById("file_importar");

        document.getElementsByClassName("file-name")[0].innerText = input.files[0].name;
    }
</script>
{% endblock %}