{% extends "layouts/base.html" %}

{% block titulo %} Calculadora {% endblock %}

{% block tela %} Calculadora - Sombras das Almas {% endblock %}

{% block conteudo %}
<div class="box">
    Calculadora de nível para o RPG Sombras das Almas
</div>
<form action="#" method="post">
    <div class="columns is-desktop">
        <!-- Colocar os atributos iniciais -->
        <div class="column">
            Porta 1
        </div>

        <!-- Colocar o resultado -->
        <div class="column">
            Porta 2
        </div>
    </div>
</form>
{% endblock %}